<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

	<targets>



		<target name="debugTarget"
				xsi:type="Debugger"
				layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=tostring}" />

		<targets async="true">
			<target name="asyncFile" xsi:type="AsyncWrapper">
				<target name="file" xsi:type="File"
						fileName="${basedir}/logs/${shortdate}.log"
						layout="${longdate} | ${level} | ${message} ${exception}" />
			</target>
		</targets>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="fileTarget,debugTarget" />
	</rules>
</nlog>